<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
  </packageRestore>

  <packageSources>

    <add key="Nexus" value="http://celta.tce.mg.gov.br:8081/repository/nuget-group/" />

    <add key="V3" value="https://api.nuget.org/v3/index.json" />

  </packageSources>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <disabledPackageSources>

    <add key="NuGet official package source" value="true" />

    <add key="NuGet official package source V2" value="true" />

  </disabledPackageSources>
</configuration>